@import url('../vendor/normalize.css');

@import url('../blocks/');


@import url('../blocks/header/__logo-link/header__logo-link.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__menu-item/header__menu-item.css');
@import url('../blocks/header/__menu-link/header__menu-link.css');
@import url('../blocks/header/__menu-list/header__menu-list.css');
@import url('../blocks/header/__menu/header__menu.css');
@import url('../blocks/header/header.css');

@import url('../blocks/presentation/presentation.css');
@import url('../blocks/presentation/__container/presentation__container.css');
@import url('../blocks/presentation/__description/presentation__description.css');
@import url('../blocks/presentation/__image/presentation__image.css');
@import url('../blocks/presentation/__subtitle/presentation__subtitle.css');
@import url('../blocks/presentation/__title/presentation__title.css');

@import url('../blocks/about/about.css');
@import url('../blocks/about/__button/about__button.css');
@import url('../blocks/about/__subtitle/about__subtitle.css');
@import url('../blocks/about/__title/about__title.css');
@import url('../blocks/about/__description/about__description.css');
@import url('../blocks/about/__wraper/about__wraper.css');

@import url('../blocks/services/services.css');
@import url('../blocks/services/__button/services__button.css');
@import url('../blocks/services/__image/services__image.css');
@import url('../blocks/services/__menu-item/services__menu-item.css');
@import url('../blocks/services/__menu-list/services__menu-list.css');
@import url('../blocks/services/__subtitle/services__subtitle.css');
@import url('../blocks/services/__title/services__title.css');
@import url('../blocks/services/__wraper/services__wraper.css');