.presentation__image {
    background: url('../../../images/discussion.jpg') no-repeat center/contain;
    width: 800px;
    height: 642px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}